<%- include("partials/header"); -%>
  <% for(let i=0; i < posts.length; i++) { %>
    <h4 id="h4"><a href=<%=posts[i].url%> target="_blank"><%=posts[i].title%></a></h4>
    <img src=<%=posts[i].urlToImage %> alt="">
    <br><br><br>
    <% } %>
<%- include("partials/footer"); -%>